.git
.gitignore
.gitattributes
README.md
.env.example
build
dist
tmp
temp
logs
uploadStorage
media_docker_files
.air.toml
Taskfile.yaml
Media-Docker-System-Design.svg
Media-Docker-System-Design.drawio
.$Media-Docker-System-Design.drawio.bkp
.$Media-Docker-System-Design.drawio.dtmp