# production
# Ignore all build and dist folders across the project
**/build
**/dist

# environment
*.env
.env*
!.env.example

# development
**/tmp
**/temp

# logs
**/logs

# storage
/uploadStorage
/media_docker_files

# design backup
.$Media-Docker-System-Design.drawio.bkp
.$Media-Docker-System-Design.drawio.dtmp
