---
version: '3.8'

volumes:
  # NOTE: do not change this name (breaking changes)
  media-docker-files-volume:

networks:
  proxy:
    external: true

services:
  media-docker:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: media-docker
    volumes:
      # NOTE: do not change the mapping of volume (breaking changes)
      - media-docker-files-volume:/app/media_docker_files
    networks:
        - proxy
    ports: [7000:7000]
    env_file: .env